[*.lua]
indent_style = space
indent_size = 4
continuation_indent_size = 4
tab_width = 4
quote_style = single
call_arg_parentheses = remove_table_only
keep_one_space_between_table_and_bracket = true
align_table_field_to_first_field = true
keep_one_space_between_namedef_and_attribute = true
max_continuous_line_distance = 1
continuous_assign_statement_align_to_equal_sign = true
continuous_assign_table_field_align_to_equal_sign = true
label_no_indent = false
do_statement_no_indent = false
if_condition_no_continuation_indent = false
table_append_expression_no_space = false
if_condition_align_with_each_other = true
long_chain_expression_allow_one_space_after_colon = false
remove_empty_header_and_footer_lines_in_function = true
remove_expression_list_finish_comma = true

enable_check_codestyle = true
max_line_length = 120
insert_final_newline = true

# [name style check]
enable_name_style_check = true
local_name_define_style = snake_case
function_param_name_style = snake_case
function_name_define_style = snake_case
local_function_name_define_style = snake_case
table_field_name_define_style = snake_case
global_variable_name_define_style = snake_case|upper_snake_case
module_name_define_style = same('m')|same(filename, snake_case)
require_module_name_style = same(first_param, snake_case)
class_name_define_style = same(filename, snake_case)
